@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* General */

.header-text {
    font-family: Audiowide, sans-serif;
    text-shadow: 2px 2px 6px #000000;
    margin: 0 0 2rem;
    font-size: 5rem;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
    /* font-weight: 600; */
    margin: 1rem 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Righteous, sans-serif;
    background-color: #2ec0f9;
    text-align: center;
}

img {
    max-width: 100%;
}

.content-section {
    padding: 4rem 15vw;
}

.section-odd {
    background-color: #f8f9fae0;
}

.hvr-fade:hover {
    color: #43c0f9;
    background-color: transparent;
}


/* Header/navbar */

.header-box {
    background-color: #023570;
    padding: 0.8rem 1rem 0.5rem;
    display: flex;
    position: fixed;
    z-index: 2;
}

.spacer {
    height: 5.5rem;
}

.nav-link {
    color: white;
    padding: 0.5rem;
    font-size: 1.1rem;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    border: none;
    color: #ffffff;
    text-shadow: 1px 1px 5px #00000069;
}

.nav-tabs .nav-link:hover {
    border: none;
    color: #43c0f9;
}

.park-logo {
    font-family: Audiowide, Righteous;
    display: inline-block;
    padding: 0;
    font-size: 2rem;
    text-align: left;
    margin: 0 25px;
    flex: 1;
}

.hvr-bob {
    color: #f9d800;
    text-shadow: 4px 4px 6px black;
}

.social-media {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: right;
    margin-top: 0.2rem;
}

.fab {
    color: white;
    font-size: 1.5rem;
    margin: 0.5rem;
}

.collapsible-menu {
    display: inline-block;
    font-size: 1.8rem;
    flex: 1;
    text-align: left;
}

.collapsed-menu-button {
    background-color: #f9d800;
    border-radius: 5px;
    border: none;
}

.colapsible-menu-link {
    padding: 1rem;
}

.menu-expanded-row {
    display: inline-block;
    flex: 1;
}

.ico:hover {
    background-color: #00000000;
    transform: scale(1.2);
}


/* Carousel */

.carousel-section {
    max-height: 50vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    opacity: 0.8;
}

.ccontrol {
    max-height: 50rem;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 50vh;
}

.cr-img {
    max-height: 50vh;
    margin: 0;
    width: 100%;
}

.carousel-caption {
    font-weight: 600;
    text-shadow: 2px 2px black
}

.carousel-caption h5 {
    font-size: 2rem;
}

.carousel-caption p {
    font-size: 1.6rem;
}

.carousel-fade .carousel-item.active {
    z-index: 1;
    opacity: 1;
    display: flex;
    align-items: center;
    max-height: 50vh;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    display: flex;
    align-items: center;
    max-height: 50vh;
    width: 100%;
    overflow: hidden;
}


/* Button Styles */

.event-btn {
    margin: 2vh 2vw;
}

.selected {
    background: darkblue;
}


/* Ticket booking form */

.buying-form {
    background-color: #f9d800;
    border-radius: 5px;
    margin: 0;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.form-row {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form-group {
    margin: 1rem;
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 1.4rem;
    justify-content: space-around;
}

.btn-primary {
    color: #fff;
    background-color: #03356f;
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 1px #000000a8;
}

.form-check-label {
    font-size: 0.7rem;
}


/* Footer */

.footer {
    height: auto;
    background-color: darkblue;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}


/*-- for screens under 767px wide --*/

@media (min-width: 767px) {
    p {
        font-family: Roboto, sans-serif;
        font-size: 1.2rem;
        /* font-weight: 600; */
        margin: 1rem 0;
    }
    a:hover {
        text-decoration: none;
    }
    .hvr-underline-from-left:before {
        background: #03356f;
        height: 5px;
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: Righteous, sans-serif;
        background-color: #2ec0f9;
        text-align: center;
    }
    img {
        max-width: 100%;
    }
    .content-section {
        padding: 4rem 15vw;
    }
    #iconkidsmark {
        margin-top: 0;
    }
    .section-odd {
        background-color: #f8f9fae0;
    }
    .hvr-fade:hover {
        color: #43c0f9;
        background-color: transparent;
    }
    /* Header/navbar */
    .header-box {
        background-color: #023570;
        padding: 0.8rem 1rem 0.5rem;
        display: flex;
        position: fixed;
        z-index: 2;
    }
    .spacer {
        height: 4.6rem;
    }
    .navbar-collapse .navbar-show {
        top: 4.4rem;
        left: 0;
        right: 0;
        height: 13rem;
        width: 100vw;
        position: absolute;
        background-color: #def2facc;
    }
    #navbar {
        position: absolute;
        right: 0;
        width: 100vw;
        top: 4.4rem;
        left: 0;
        background-color: #def2facc;
    }
    .navb-link {
        font-size: 1.7rem;
        color: #03356f;
        width: 100%;
    }
    .nav-link {
        color: white;
        padding: 0.5rem;
        font-size: 1.1rem;
    }
    .nav-tabs {
        border-bottom: none;
    }
    .nav-tabs .nav-link {
        border: none;
        color: #ffffff;
        text-shadow: 1px 1px 5px #00000069;
    }
    .nav-tabs .nav-link:hover {
        border: none;
        color: #43c0f9;
    }
    .park-logo {
        font-family: Audiowide, Righteous;
        display: inline-block;
        padding: 0;
        font-size: 2rem;
        text-align: left;
        margin: 0 25px;
        flex: 1;
    }
    .hvr-bob {
        color: #f9d800;
        text-shadow: 4px 4px 6px black;
    }
    .social-media {
        display: inline-block;
        padding: 0;
        margin: 0;
        text-align: right;
        margin-top: 0.2rem;
    }
    .fab {
        color: white;
        font-size: 1.5rem;
        margin: 0.5rem;
    }
    .collapsible-menu {
        display: inline-block;
        font-size: 1.8rem;
        flex: 1;
        text-align: left;
    }
    .collapsed-menu-button {
        background-color: #f9d800;
        border-radius: 5px;
        border: none;
    }
    .menu-expanded-row {
        display: inline-block;
        flex: 1;
    }
    .ico:hover {
        background-color: #00000000;
        transform: scale(1.2);
    }
    /* Carousel */
    .carousel-section {
        max-height: 50vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        opacity: 0.8;
    }
    .ccontrol {
        max-height: 50vw;
    }
    .carousel-indicators {
        top: 37vw;
    }
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        max-height: 50vh;
    }
    .cr-img {
        height: auto;
        width: 100%;
    }
    .carousel-fade .carousel-item.active {
        z-index: 1;
        opacity: 1;
        display: flex;
        align-items: center;
        max-height: 50vh;
        width: 100%;
        overflow: hidden;
    }
    .carousel-item {
        display: flex;
        align-items: center;
        max-height: 50vh;
        width: 100%;
        overflow: hidden;
    }
    /* Ticket booking form */
    .buying-form {
        background-color: #f9d800;
        border-radius: 5px;
        margin: 0;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
    }
    .form-row {
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .form-group {
        margin: 1rem;
        display: flex;
        flex: 1;
        align-items: center;
        font-size: 1.4rem;
        justify-content: space-around;
    }
    .btn-primary {
        color: #fff;
        background-color: #03356f;
        padding: 0.5rem;
        font-size: 1.3rem;
        border-radius: 10px;
        box-shadow: 3px 3px 8px 1px #000000a8;
    }
    .form-check-label {
        font-size: 0.7rem;
    }
    /* IconKids */
    #iconkidsmark {
        padding: 4rem 0;
    }
    .intro-kids-row {
        padding: 0 2rem;
        margin: 2rem 0;
    }
    /* Footer */
    .footer {
        height: auto;
    }
    .footer-container {
        margin: 0;
        padding: 0;
    }
    .footer-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }
    /*-- for screens under 767px wide --*/
    @media (max-width: 1024px) {
        p {
            font-size: 1.5rem;
        }
    }
    @media (min-width: 767px) {
        .cr-img {
            height: auto;
            width: 100%;
        }
        .carousel-item.active {
            max-height: 35vw;
        }
        /* .carousel-inner {
            max-height: 35vw;
        } */
        /* .carousel-section {
            max-height: 35vw;
        } */
    }
}